
body {
     min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-color: #F4D04E;  */
}

main {
    min-height: 80vh;
    min-width: 160vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(128, 128, 128);
   background-color: #F4D04E;
    padding: 30px;
}



/* .container {
     margin: auto;
     padding: 60px;
} */

img {
    border: 2px solid black;
    border-radius: 10px;
 
}

.card {
    background-color: hsl(0, 0%, 100%) ;
    border: pink 2px solid;
     border: 3px solid red;
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;     
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    padding: 40px;
    box-shadow: 8px 8px 0px 0px rgb(60, 60, 60);
}
    

h3 {
border: 2px solid pink;
max-width: 75px;
padding: auto;
height: auto;
width: auto;
}

p {
    font-size: 16px;
    opacity: 70%;
}


footer {
    display: flex;
}

.author-pic { 
    display: flex;  
}


@media (max-width: 640px) {
  .card {
    width: 327px;
    height: 501px;
  }
}



/* body {
     min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border: lime
    
}


main {
    min-height: 80vh;
    min-width: 160vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: hsl(212, 45%, 89%);  
    padding: 30px;
}

.card , img {
    border: 3px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;     
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    padding: 16px;
   
}

p {
    font-size: 15px;
    text-align: center;
}

h2 {
    text-align: center;
} */
